html body {
    margin: 0;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    padding: 2%;
}

/* Header Styling */
.header-appearance {
    background-color: lightgreen;
    padding: 15px;
    display: flex;
    align-items: center;
}

.header-menu {
    margin-left: auto;
}

.menu-items {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}


.search-sl-ps {
    display: inline;
}

.search-center {
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 20%;
    border-radius: 10px;
    padding-left: 10px;
}

.search-components {
    margin-left: 10px;
}


a {
    color: black;
    text-decoration-line: none;
}

h1 {
    margin: 0;
    padding: 10px;
}

h2 {
    padding: 10px;
    margin: 0;
}

h3 {
    margin: 0;
}

.table-pd, .table-tp, .table-sl, .table-ps, .add-grouping, .update-grouping, .delete-grouping {
    margin-top: 2%;
}

/* --- Table styling --- */
table {
    border: 1px solid;
    border-radius: 3px;
}

th {
    padding: 8px;
    
    /* Will place border on bottom of row unless it is the final row of the table*/
    /* border-bottom: 1px solid; */
}

.table-header {
    background-color: lightgreen;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.table-header-end {
    border-bottom: 1px solid;
}

label {
    display: block;
}


