html body {
    margin: 0;
    margin-top: 0;
    font-family: monospace;
}

.content {
    padding: 2%;
}

/* Home/Index Styling */
.home-content {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.home-title {
    grid-column: 1/span 2;
    text-align: center;
}

.home-cell {
    text-align: center;
    max-width: 80%;
    border-bottom: 1px solid;
}

.home-cell-section {
    text-align: center;
    max-width: 80%;
}

.home-cell-final{
    text-align: center;
    grid-column: 1/span 2;
    max-width: 60%;
    border-bottom: 1px solid;
}

.home-cell-final-section {
    text-align: center;
    grid-column: 1/span 2;
    max-width: 60%;

}

/* Header Styling */
.header-appearance {
    background-color: lightgreen;
    padding: 15px;
    display: flex;
    align-items: center;
}

.header-menu {
    margin-left: auto;
}

.menu-items {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    display: grid;
    grid-template-columns: auto auto;

}

/* Search styling */
.search-sl-ps {
    display: grid;
    justify-items: center;
}

.search-center {
    grid-column: 1/span 2;
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-sides {
    grid-column: 2;
    display: flex;
    width: 85%;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    width: 30%;
    border-radius: 10px;
    padding-left: 10px;
}

.search-components {
    margin-left: 10px;
    min-width: 10%;
    max-width: 60%;
}

/* General component styling */

a {
    color: black;
    text-decoration-line: none;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 10px;
}

h2 {
    padding: 10px;
    margin: 0;
}

h3 {
    padding: 10px;
    margin: 0;
}

button {
    margin: 10px;
    min-width: 10%;
    font-family: monospace;
    border: 1px solid;
    border-radius: 5px;

}

button:hover {
    background-color: tan;
}

a:hover {
    color: tan;
}

fieldset {
    border-radius: 10px;
}

table {
    border: 1px solid;
    border-radius: 10px;
    min-width: 60%;
}

legend {
    font-size: x-large;
}

/* Table styling */

.table-cs, .table-em, .table-pd, .table-tp, .table-sl, .table-ps, .add-grouping, .update-grouping, .delete-grouping {
    margin-top: 2%;
}

.table-cs, .table-em, .table-pd, .table-tp, .table-sl, .table-ps {
    justify-self: center;
    display: grid;
    align-self: flex-start;
    justify-items: center;
}

th {
    padding: 8px;
    
    /* Will place border on bottom of row unless it is the final row of the table*/
    /* border-bottom: 1px solid; */
}

.table-header {
    background-color: lightgreen;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.table-header-end {
    border-bottom: 1px solid;
}

.table-header-left {
    border-top-left-radius: 10px;
}

.table-header-right {
    border-top-right-radius: 10px;
}

/* Group styling */

.add-grouping {
    display: grid;
}

.add-operations, .update-operations, .delete-operations {
    display: flex;
    justify-content: flex-end;
}

label {
    display: block;
}

/* Delete group styling */
fieldset.delete-fieldset {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
} 


.delete-operations {
    grid-column: 1/span 2;
}

.page-title {
    grid-column: 1/span 2;
}

.search-grouping {
    grid-column: 1/span 2;
}

.table-grouping {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
    
}

.item2 {
    border-top: 1px solid;

}

.operation-grouping {
}
