<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='../../css/style.css'>
    <title>Gamer Gang</title>
</head>
<body>
    <div id = "header" class="header-appearance">
        <h3><strong>Gamer Gang</strong></h3>
        <div class="header-menu">
            <a class="menu-items" href="/">Home</a>
            <a class="menu-items" href="/employees">Employees</a>
            <a class="menu-items" href="/customers">Customers</a>
            <a class="menu-items" href="/products">Products</a>
            <a class="menu-items" href="/types">Types</a>
            <a class="menu-items" href="/sales">Sales</a>
        </div>
    </div>

    {{{body}}}

</body>
</html>
