<div class="content">
    <h1 class="page-title"><strong>Customers</strong></h1>

    <div class="operation-grouping">
        <div id="add_grouping" class="add-grouping">
            <legend><strong>Add Customer</strong></legend>
            <fieldset>
                <form id="add-customer-form">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="input-name" required/>
                    <label for="email">E-mail: </label>
                    <input type="email" name="email" id="input-email"/>
                    <div class="add-operations">
                        <input type="submit" class="button" value="Add">
                        <input type="reset" class="button" value="Cancel"> 
                    </div>
                </form>
            </fieldset>
        </div>

        <div id="update_grouping" class="update-grouping">
            <legend><strong>Update Customer</strong></legend>
            <fieldset>
                <form id="update-customer-form">
                    <label for="id">ID: </label>
                    <input type="number" name="id" id="input-id-update"/>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="input-name-update"/>
                    <label for="email">E-mail: </label>
                    <input type="email" name="email" id="input-email-update"/>
                    <div class="update-operations">
                        <input type="submit" class="button" value="Update">
                        <input type="reset" class="button" value="Cancel"> 
                    </div>
                </form>
            </fieldset>
        </div>

        <div id="delete_grouping" class="delete-grouping">
            <legend><strong>Delete Customer</strong></legend>
            <fieldset>
                <form id="delete-customer-form" class="delete-fieldset">
                    <label for="id">ID: </label>
                    <input type="number" name="id" id="input-id-delete"/>
                    <div class="delete-operations">
                        <input type="submit" class="button" value="Delete">
                        <input type="reset" class="button" value="Cancel"> 
                    </div>
                </form>
            </fieldset>
        </div>
    </div>

    <div class="table-grouping">
        <div class="table-cs">
            <table id="customers-table">
                <tr class="table-header">
                    <th class="table-header table-header-left">ID</th>
                    <th class="table-header">Name</th>
                    <th class="table-header-end table-header-right">E-mail</th>
                </tr>
                {{#each data}}
                <tr data-value={{this.id_customer}}>
                    <td>{{this.id_customer}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>

</div>

{{!-- Embed JS to handle DOM manipulation and AJAX request --}}
<script src="./js/add_customer.js"></script>
<script src="./js/delete_customer.js"></script>
<script src="./js/update_customer.js"></script>
