<h1>Types</h1>


<table>
    {{!-- Header --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>{{@key}}</th>
            {{/each}}
        </tr>
    </thead>
    {{!-- Body --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id_type}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

