<h1>Types</h1>


{{!-- Display Types table --}}
<table id='types-table'>
    {{!-- Header --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>{{@key}}</th>
            {{/each}}
        </tr>
    </thead>
    {{!-- Body --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id_type}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Form to add a Type --}}
<h2>Add a Type</h2>
<p>To add a new type, enter its information below and click 'Submit'!</p>
<form id='add-type-form'>
    {{!-- Description --}}
    <label for='input-description'>Description: </label>
    <input type='text' name='input-description' id='input-description'>

    <input type='submit'>
</form>


{{!-- Embed JS to handle DOM manipulation and AJAX request --}}
<script src="./js/add_type.js"></script>
