

<div class="content">
    <h1 class="page-title"><strong>Types</strong></h1>

    
    <div class="operation-grouping">
        <div id = "add_grouping" class="add-grouping">
            <legend><strong>Add Type</strong></legend>
                <fieldset>
                    <form id="add-type-form">
                        <label for="input-description">Description:</label> 
                        <input type="text" name="input-description" id="input-description" required>
                        <div class="add-operations">
                            <input type="submit" class="button" value="Add">
                            <input type="reset" class="button" value="Cancel"> 
                        </div>
                    </form>
                </fieldset>    
        </div>
    
        <div id = "update_grouping" class="update-grouping">
            <legend><strong>Update Type</strong></legend>
                <fieldset>
                    <form id="update-type-form">
                        <label>ID:</label>
                        <input type="text" name="input-id" id="input-id-update" required> 
                        <label for="input-description">Description:</label> 
                        <input type="text" name="input-description" id="input-description-update" required>                  
                        <div class="update-operations">
                            <input type="submit" class="button" value="Update">
                            <input type="reset" class="button" value="Cancel"> 
                        </div>
                    </form>
                </fieldset>
        </div>
    
        <div id = "delete_grouping" class="delete-grouping">
            <legend><strong>Delete Type</strong></legend>
                <fieldset>
                    <form id="delete-type-form" class="delete-fieldset">
                        <label class="delete-group-labels">ID:</label>
                        <input type="text" class="input-id-delete" name="input-id" id="input-id-delete" oninput='updateForm()' required>
                        <label class="delete-group-labels">Description:</label>
                        <p id="delete-name"></p>
                        <div class="delete-operations">
                            <input type="submit" class="button" value="Delete">
                            <input type="reset" class="button" value="Cancel"> 
                        </div>
                    </form>
                </fieldset>
        </div>
    </div>

    <div class="table-grouping">
        <div class="table-tp">
            <table id="types-table">
                <tr class="table-header">
                    <th class="table-header table-header-left">ID</th>
                    <th class="table-header table-header-right">Description</th>
                    
                </tr>
                {{#each data}}
                <tr data-value={{this.id_type}}>
                    <td>{{this.id_type}}</td>
                    <td>{{this.description}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>

</div>

{{!-- Embed JS to handle DOM manipulation and AJAX request --}}
<script src="./js/add_type.js"></script>
<script src="./js/delete_type.js"></script>
<script src="./js/update_type.js"></script>
