html body {
    margin: 0;
    margin-top: 0;
    font-family: monospace;
    scroll-behavior: smooth;
}

.content {
    padding: 2%;
}

/* Home/Index Styling */
.home-content {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.home-title {
    grid-column: 1/span 2;
    text-align: center;
}

.home-cell {
    text-align: center;
    max-width: 80%;
    border-bottom: 1px solid;
}

.home-cell-section {
    text-align: center;
    max-width: 80%;
}

.home-cell-final{
    text-align: center;
    grid-column: 1/span 2;
    max-width: 60%;
    border-bottom: 1px solid;
}

.home-cell-final-section {
    text-align: center;
    grid-column: 1/span 2;
    max-width: 60%;

}

/* Header Styling */
.header-appearance {
    background-color: lightgreen;
    padding: 15px;
    display: flex;
    align-items: center;
    height: 45px;
}

.header-menu {
    margin-left: auto;
}

.menu-items {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
}

/* Search styling */
.search-sl-ps {
    display: grid;
    justify-items: center;
    grid-column: 1/span 2;
}

.search-center {
    grid-column: 1/span 2;
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: 20% 40% 15% 15%;
}

.search-sale {
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
}

.search-sides {
    grid-column:  2;
    justify-self: center;
    margin: 0;
    padding: 0;
}


.search-bar {
    width: 80%;
    border-radius: 5px;
    padding-left: 10px;
    margin: 0;
    padding-left: 5px;
    font-size: medium;
}

.search-components {
    margin-left: 10px;
    width: 100%;
    height: 25px;
    max-height: 40px;
    padding: 0;
    margin-bottom: 10px;
    align-self: center;
    justify-self: center;
}

.search-label {
    align-self: center;
    justify-self: end;
    font-size:large;
    margin-right: 10px;
}

.search-buttons {
    width: 50%;
    height: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    outline: 1px solid black;
    border: none;
    margin: 0;
}

.search-button-last {
    justify-self: start;
}

.search-buttons:hover {
    background-color: tan;
}

/* General component styling */

a {
    color: black;
    text-decoration-line: none;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 10px;
}

h2 {
    padding: 10px;
    margin: 0;
}

h3 {
    padding: 10px;
    margin: 0;
}

button {
    margin: 10px;
    min-width: 10%;
    font-family: monospace;
    border: 1px solid;
    border-radius: 5px;

}

button:hover {
    background-color: tan;
}

.button:hover {
    background-color: tan;
}

a:hover {
    color: tan;
}

fieldset {
    border-radius: 10px;
}

table {
    border: 1px solid;
    border-radius: 10px;
    width: 80%;
}

legend {
    font-size: x-large;
}

/* Table styling */

.table-cs, .table-em, .table-pd, .table-tp, .table-sl, .table-ps, .add-grouping, .update-grouping, .delete-grouping {
    margin-top: 2%;
}

.table-cs, .table-em, .table-pd, .table-tp, .table-sl, .table-ps {
    justify-self: center;
    display: grid;
    align-self: flex-start;
    justify-items: center;
    width: 100%;
}

th {
    padding: 8px;
}

td {
    text-align: center;
}

.table-header {
    background-color: lightgreen;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.table-header-end {
    border-bottom: 1px solid;
}

.table-header-left {
    border-top-left-radius: 10px;
}

.table-header-right {
    border-top-right-radius: 10px;
}

/* Group styling */

.button {
    margin: 10px;
    min-width: 10%;
    font-family: monospace;
    border: 1px solid;
    border-radius: 5px;
}

.add-grouping {
    display: grid;
}

.add-operations, .update-operations, .delete-operations {
    display: flex;
    justify-content: flex-end;
}

label {
    display: block;
}

/* Delete group styling */
form.delete-fieldset {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
} 

.input-id-delete {
    width: 20%;
}

.delete-operations {
    grid-column: 1/span 2;
}

.page-title {
    grid-column: 1/span 2;
}

.search-grouping {
    grid-column: 1/span 2;
}

.table-grouping {
    display: grid;
    grid-template-rows: auto auto;
    align-items: start;
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 100%;
}

.item2 {
    border-top: 1px solid;
}

.add-sale-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.add-components {
    max-width: 90%;
}

.add-components-button {
    grid-column: 1/span 3;
    justify-self: center;
    width: 80%;
}

.add-product-table, .update-product-table {
    border: none;
    width: 100%;
}

.product-card {
}

.row-contents {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

/* Confirmation Modals */

.modal-container {
}

.confirmation-modal {
    display: grid;
    position: fixed;
    min-height: calc(100vh - 75px);
    background-color: rgba(26, 22, 22, 0.481);
    grid-template-columns: 100%;
    justify-content: center;
    width: 100%;
}

.conf-container {
    text-align: center;
    font-size: 16px;
    width: 20%;
    height: 20%;
    outline: 3px solid lightgreen;
    background-color: whitesmoke;
    justify-self: center;
    align-self: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.471);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    grid-template-rows: 70% 30%;
}

